*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 800px;
    background: url('../img/bg/bg_handsOfAMan.jpg') center center/cover no-repeat;
    padding: 36px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;

}

.logo .logo_text {
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 17px;
}

h1 {
    margin-top: 52px;
}

.title {
    color: #F9BF3B;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}


h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-top: 36px;
}
.promo .promo_text span {
    color:  #F9BF3B;
    font-weight: bold;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    background: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    color: #FFFFFF;
    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 607px;
    background: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    /* line-height: 12px; */
    text-align: center;
    text-transform: uppercase;
}

.waiting .waiting_divider {
    width: 220px;
    height: 4px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 20px; */
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item{
    width: 340px;
    text-align: center;

}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.optimisation {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimisation .optimisation_header {
    margin-left: 391px;
    /* margin-left: 391px; */

    color: #299CBD;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    /* font-style: normal; */
    /* line-height: 12px; */

}

.optimisation .optimisation_text {
    /* padding-top: 11px; */
    margin-top: 25px;
    margin-left: 391px;
    width: 780px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
}

.optimisation .optimisation_text span {
    font-weight: 700;
    font-family: "Roboto-Bold";
 }

 .optimisation .optimisation_img {
    position: absolute;
    top: -50px;
    left: -240px;
    z-index: -1;
 }
